<configuration>
  <configSections>
    <section name="nbi" type="NBi.NUnit.Runtime.NBiSection, NBi.NUnit.Runtime"/>
  </configSections>
  <nbi testSuite="Positive\CustomFlatFileParser.nbits">
    <extensions>
      <add assembly="NBi.Testing" extension="custom"/>
    </extensions>
  </nbi>
</configuration>