<configuration>
  <configSections>
    <section name="nbi" type="NBi.NUnit.Runtime.NBiSection, NBi.NUnit.Runtime"/>
  </configSections>
  <connectionStrings configSource="ConnectionString.user.config"></connectionStrings>
  <nbi testSuite="...">
    <extensions>
      <add assembly="NBi.Core.CosmosDb.Graph"/>
    </extensions>
  </nbi>
</configuration>