<connectionStrings>
	<add
	  name="OleDbCube"
	  connectionString="Provider=MSOLAP.4;Data Source=(local);Initial Catalog='Finances Analysis'"
	/>
	<add
	  name="Adomd"
	  connectionString="Provider=MSOLAP.4;Data Source=(local)\SQL2017;Initial Catalog='Adventure Works DW 2012';localeidentifier=1033"
	/>
	<add
	  name="AdomdTabular"
	  connectionString="Provider=MSOLAP.4;Data Source=(local)\SQL2017TABULAR;Initial Catalog='AdventureWorks Tabular Model SQL 2012';localeidentifier=1033"
	/>
	<add
	  name="SqlClient"
	  connectionString="Data Source=mhknbn2kdz.database.windows.net;Initial Catalog=AdventureWorks2012;User Id=sqlfamily;password=sqlf@m1ly"
	/>
  <add
	  name="OleDbSql"
	  connectionString="Provider=SQLNCLI11;Server=mhknbn2kdz.database.windows.net;Database=AdventureWorks2012;UId=sqlfamily;Pwd=sqlf@m1ly;"
	/>
  <add
	  name="OdbcSql"
	  connectionString="Driver={ODBC Driver 13 for SQL Server};Server=tcp:mhknbn2kdz.database.windows.net,1433;Database=AdventureWorks2012;Uid=sqlfamily@mhknbn2kdz;Pwd=sqlf@m1ly;Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;"
	/>
  <add
	  name="LocalOleDbSql"
	  connectionString="Provider=SQLNCLI11;Server=(local)\SQL2012;Database=AdventureWorksDW2012;Integrated Security=true;Connection Timeout=30;"
	/>
  <add
	  name="LocalOdbcSql"
	  connectionString="Driver={ODBC Driver 13 for SQL Server};Server=(local)\SQL2012;Database=AdventureWorksDW2012;Integrated Security=true;Connection Timeout=30;"
	/>
	<add
	  name="LocalSqlClient"
	  connectionString="Data Source=(local)\SQL2017;Initial Catalog=AdventureWorksDW2012;Integrated Security=true"
	/>
	<add
	  name="ReportServerDatabase"
	  connectionString="Data Source=(local)\SQL2017;Initial Catalog=ReportServer;Integrated Security=True;"
	/>
	<add
	  name="IntegrationServer"
	  connectionString=".\SQL2017"
	/>
  <add
	  name="IntegrationServerTargetDatabase"
	  connectionString="Data Source=.\SQL2017;Initial Catalog=Demo.NBi.Ssis;Provider=SQLNCLI11.1;Integrated Security=SSPI;Auto Translate=False;"
	/>

</connectionStrings>