<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dynamitey" version="2.0.9.136" targetFramework="net461" />
  <package id="ImpromptuInterface" version="7.0.1" targetFramework="net461" />
  <package id="NUnit" version="2.7.1" allowedVersions="[2.6.4,3)" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>