<connectionStrings>
	<add
	  name="OleDb"
	  connectionString="Provider=MSOLAP.4;Data Source=(local);Initial Catalog='Finances Analysis'"
	/>
	<add
	  name="Adomd"
	  connectionString="Data Source=(local);Initial Catalog='Adventure Works DW 2008';localeidentifier=1049"
	/>
	<add
	  name="SqlClient"
	  connectionString="Data Source=.;Initial Catalog=NBi.Testing;Integrated Security=true"
	/>
</connectionStrings>