<connectionStrings>
	<add
	  name="OleDb"
	  connectionString="Provider=MSOLAP.4;Data Source=(local);Initial Catalog='Finances Analysis'"
	/>
	<add
	  name="Adomd"
	  connectionString="Provider=MSOLAP.4;Data Source=(local)\SQL2012;Initial Catalog='Adventure Works DW 2012';localeidentifier=1033"
	/>
	<add
	  name="AdomdTabular"
	  connectionString="Provider=MSOLAP.4;Data Source=(local)\SQL2012TABULAR;Initial Catalog='AdventureWorks Tabular Model SQL 2012';localeidentifier=1033"
	/>
	<add
	  name="SqlClient"
	  connectionString="Data Source=mhknbn2kdz.database.windows.net;Initial Catalog=AdventureWorks2012;User Id=sqlfamily;password=sqlf@m1ly"
	/>
	<add
	  name="LocalSqlClient"
	  connectionString="Data Source=(local)\SQL2012;Initial Catalog=AdventureWorksDW2012;Integrated Security=true"
	/>
	<add
	  name="ReportServerDatabase"
	  connectionString="Data Source=(local)\SQL2012;Initial Catalog=ReportServer;Integrated Security=True;"
	/>
	<add
	  name="IntegrationServerDatabase"
	  connectionString=".\SQL2014"
	/>
  <add
	  name="ServiceSqlServer"
	  connectionString="mssql$SQL2012"
	/>

</connectionStrings>