---
layout: default
---

  <section class="docs">
    <div class="grid">

      {% include documentation_contents_mobile.html %}

      <div class="unit four-fifths">
        <article>
          <h1>{{ page.title }}</h1>
          <div class="improve right hide-on-mobiles">
            <a href="{{ site.repository }}/edit/gh-pages{{ page.id }}.md"><i class="fa fa-pencil">&nbsp;Improve this page</i></a>
          </div>
          {{ content }}
          {% include section_nav.html %}
        </article>
      </div>

      {% include documentation_contents.html %}

      <div class="clear"></div>

    </div>
  </section>
