<configuration>
  <configSections>
    <section name="nbi" type="NBi.NUnit.Runtime.NBiSection, NBi.NUnit.Runtime"/>
  </configSections>
  <nbi testSuite="Negative\Config-Light.nbits">
    <failure-report-profile
        threshold-sample-items="5"
        max-sample-items="3"
        expected-set="None"
        actual-set="Sample"
        analysis-set="Sample"
    />
  </nbi>
</configuration>