<configuration>
  <configSections>
    <section name="nbi" type="NBi.NUnit.Runtime.NBiSection, NBi.NUnit.Runtime"/>
  </configSections>
  <nbi testSuite="...">
    <failure-report-profile
        threshold-sample-items="1"
        max-sample-items="1"
        expected-set="None"
        actual-set="Full"
        analysis-set="Sample"
    />
  </nbi>
</configuration>