<configuration>
  <configSections>
    <section name="nbi" type="NBi.NUnit.Runtime.NBiSection, NBi.NUnit.Runtime"/>
  </configSections>
  <nbi testSuite="Negative\Scoring-Json.nbits">
    <failure-report-profile
        expected-set="Full"
        actual-set="Full"
        analysis-set="Full"
        format="Json"
    />
  </nbi>
</configuration>